<div class='navigation'>
  <ul>
    <li><a href='#/links' class='index'>All Links</a></li>
    <li><a href='#/shorten' class='create'>Shorten</a></li>
    <li class='logout'><a href='#/logout'>Logout</a></li>
  </ul>
</div>
<div id='container'>
  <div class='filterForm'><label>Filter: </br><input ng-model="searchLinks"></label></div>
  <div class='info link' ng-repeat="url in data.links | orderBy:'-visits' | filter:searchLinks">
    <img src='../assets/redirect_icon.png'/>
    <div class='visits'><span class='count'>{{url.visits}}</span>Visits</div>
    <div class='title'>{{url.title}}</div>
    <div class='original'>{{url.url}}</div>
    <a href='{{url.baseUrl}}/{{url.code}}'>{{url.baseUrl}}/{{url.code}}</a>
  </div>
</div>
